## Maven
target/

## Eclipse
.settings/
.project
.classpath

## IntelliJ
out/
.idea/
.idea_modules/
*.iml
*.ipr
*.iws

## Static Analysis
static-analysis/

## OS X
.DS_Store

## Cursor
.cursor/

## Local
tdd/
pmd-ruleset.xml
spotbugs-exclude.xml
pom-analysis.xml
