name: Maven Deploy

on:
  workflow_dispatch:  # Manual trigger without inputs

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Set up Maven
        uses: step-security/setup-maven@8b5f727904660c4b112d02624218c791126af325 # v5.0.0
        with:
          maven-version: 3.9.6

      - name: Set up JDK
        # Handles importing GPG private key to the local keyring and configures Maven to use GPG passphrase
        # if pom.xml has the Maven GPG plugin configured
        uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # v5.0.0
        with:
          distribution: 'temurin'
          java-version: '17'
          server-id: ossrh  # Must match server ID in settings.xml/pom.xml
          server-username: MAVEN_USERNAME
          server-password: MAVEN_PASSWORD
          # The private key is not required as a standard environment variable
          gpg-private-key: ${{ secrets.GPG_SECRET_KEY }}
          gpg-passphrase: MAVEN_GPG_PASSPHRASE
          # Parameters for handling GPG in headless CI/CD
          gpg-passphrase-args: --pinentry-mode=loopback --no-tty --batch

      - name: Deploy to Maven Central
        env:
          MAVEN_USERNAME: ${{ secrets.AEROSPIKE_SA_CICD_USERNAME }}
          MAVEN_PASSWORD: ${{ secrets.AEROSPIKE_SA_CICD_PASSWORD }}
          MAVEN_GPG_PASSPHRASE: ${{ secrets.GPG_PASS }}
          GPG_TTY: "" # Tell GPG not to use terminal
        # Use batch mode: no interactive prompts, cleaner logs
        run: mvn --batch-mode clean deploy